# dependencies
/node_modules
/.pnp
.pnp.js

node_modules
packages/*/node_modules
apps/*/node_modules
.next

# next.js
/.next/
/out/

# production
/build
build/
**/build/
apps/*/build/
packages/*/build/

# misc
.DS_Store
*.pem
.upstream
.history
# debug
.pnpm-debug.log*

# other lockfiles that's not pnpm-lock.yaml
package-lock.json
yarn.lock

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# intellij
.idea

# build outputs
dist/
dist/**
**/dist/
/dist
packages/*/dist
apps/*/dist

# turbo
.turbo

# test results
/test-results/
/playwright-report/
/playwright/.cache/
apps/rr7-ssr/.react-router/
coverage/
packages/*/coverage/
